
#wpadminbar #wp-toolbar > ul > li > a.ab-item,
#wpadminbar #wp-toolbar > ul > li > a.ab-item .ab-label,
#wpadminbar #wp-toolbar > ul > li > a.ab-item .ab-icon::before,
#wpadminbar #wp-toolbar > ul > li > a.ab-item::before,
#wpadminbar #wp-toolbar > ul > li > span,
#wpadminbar #wp-toolbar > ul > li > div,
#wpadminbar #adminbarsearch:before {
    color: #fff !important;
}

div#wpadminbar {
    height: 50px !important;
    line-height: 50px !important;
}

#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img{border-width:0;border-radius:100%;width:26px;height:26px}

div#wpadminbar .ab-item,
div#wpadminbar .quicklinks .ab-empty-item,
div#wpadminbar .quicklinks .ab-empty-item a i,
div#wpadminbar a.ab-item,
div#wpadminbar > #wp-toolbar span.ab-label,
div#wpadminbar > #wp-toolbar span.noticon {
    height: 50px !important;
    line-height: 50px !important;
}

#wpadminbar .ab-icon,
#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:before,
#wpadminbar .ab-item:after {
    height: 50px !important;
    line-height: 50px !important;
}

li.force-mdi i {
    line-height: 50px !important;
}

div#wpadminbar .ab-icon:before,
div#wpadminbar .ab-item:before,
div#wpadminbar #adminbarsearch:before,
div#wpadminbar input#adminbar-search:focus {
    line-height: 40px !important;
}

div#wpadminbar input#adminbar-search:focus {
    height: 40px !important;
}

#wpadminbar .ab-sub-wrapper .ab-item {
    height: 40px !important;
    line-height: 40px !important;
}

#wpadminbar .ab-item,
#wpadminbar .quicklinks .ab-empty-item,
#wpadminbar .quicklinks .ab-empty-item a i,
#wpadminbar a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon {
    font-size: 16px !important;
}

li.force-mdi i,
a.ab-item span.ab-icon {
    font-size: 20.8px !important;
}


li#wp-admin-bar-user-info a.ab-item,li#wp-admin-bar-edit-profile a.ab-item,li#wp-admin-bar-logout a.ab-item{display:inherit;margin-left:0px}
#wp-admin-bar-user-info .avatar{width:70px;height:70px;border-radius:50%;}